{{!-- 
TODO:
MECHANIC VERSION:
notifications: won tickets
view bids on tickets
view won tickets
--}}

{{#if req.session.isMechanic}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Won Tickets</h2>
        </div>
    </div>
</div>
{{/if}}

