{{#each tickets as |ticket|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ticket.carMake}}</p>
    <p class="card-text">{{ticket.carModel}}</p>
    <p class="card-text">{{ticket.issue}}</p>
    <a href="/tickets/{{ticket.id}}" class="btn btn-primary">See ticket</a>
  </div>
</div>
{{/each}}