<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card" id="newTicket">
        <div class="card-header d-flex justify-content-center">
          <h2 id="ticket">Create a New Ticket</h2>
        </div>
        <div class="card-body">
          <form class="form ticket-form">
            <div class="form-group p-1">
              <label for="title">Title:</label>
              <input class="form-control" type="text" id="title" placeholder="Short Description of your problem" />
            </div>
            <div class="form-group p-1">
              <label for="car-make">Car Make:</label>
              <input class="form-control" type="text" id="carMake" />
            </div>
            <div class="form-group p-1">
              <label for="car-model">Car Model:</label>
              <input class="form-control" type="text" id="carModel" />
            </div>
            <div class="form-group p-1">
              <label for="car-model">Model Year:</label>
              <input class="form-control" type="number" id="modelYear" />
            </div>
            <div class="form-group p-1">
              <label for="street">Address:</label>
              <input class="form-control" id="street" type="text" pattern="^\d+\s[A-z\s\d#\-.,\/]+$" placeholder="Location of car if not home address">
            </div>
            <div class="form-group p-1">
              <label for="city">City:</label>
              <input class="form-control" id="city" type="text">
            </div>
            <div class="form-group p-1">
              <label for="state">State:</label>
              <input class="form-control" id="state" type="text">
            </div>
            <div class="form-group p-1">
              <label for="zip">Zip:</label>
              <input class="form-control" id="zip" type="number" aria-describedby="zipHelp">
            </div>
            <div class="form-group p-1">
              <label for="issue">Detailed description of your problem:</label>
              <textarea class="form-control" id="issue" rows="6" placeholder="Please provide as many details as possible regarding the problem you are having with your car"></textarea>
            </div>
            <div>
              <p class="text-info p-3">Please note that any information regarding your address will not be displayed to the public. It's <b class="text-warning">STRICTLY</b> to help mechanics find work within their area. Make sure the address you put in is accurate to the cars location if your car happens to not be at your home address. Failing to do so may prevent you from accessing mechanics that would otherwise have seen your ticket in their area.</p>
            </div>
            <div class="form-group p-3 d-flex justify-content-center">
              <button class="btn btn-primary col-4" type="button">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="close" type="button" class="btn btn-danger close" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/newTicket.js"></script>
