html {
  overscroll-behavior: none;
}

header {
  margin-bottom: 20px;
  background-color: black;
}

.nav-link,
.offcanvas-body {
  color: white;
}

.nav-link,
.navbar-brand {
  --a: rgb(4, 12, 251);
  --b: rgb(4, 230, 251);
  --c: rgb(25, 4, 251);
  --d: rgb(173, 251, 4);
  transition: 2.0s;
  background-image: linear-gradient(30deg, var(--a), var(--b));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav-link:hover {
  background-image: none;
  color: white;
  text-shadow: 0 0 10px var(--a), 0 0 20px var(--d), 0 0 30px var(--c), 0 0 40px var(--d);
}

.offcanvas {
  background-color: rgb(0, 0, 0);
}

body {
  overscroll-behavior: none;
  background-image: url('../assets/1710104.jpg');
  font-family: 'Philosopher', sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0, 0.90);
  color: white;
  box-shadow: rgb(255, 0, 238) 0px 5px, rgba(30, 3, 208, 0.769) 5px 5px, rgba(30, 3, 208, 0.669) 10px 10px, rgba(30, 3, 208, 0.569) 15px 15px, rgba(30, 3, 208, 0.469) 20px 20px, rgba(30, 3, 208, 0.369) 15px 15px;
}

.card-text {
  max-width: 250px;
}

#githubButtons {
  padding: 15px;
}


button,
.navbar-brand {
  --text-base: 207deg, 100%, 50%;
  --text-hover: 307deg, 45%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 60%, 40%;
  --shadow-inner: 207deg, 100%, 50%;
  all: unset;
  color: hsla(var(--text-base), 1);
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}

button::before,
button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}

button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}

button:hover,
button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}

button:hover::before,
button:hover::after,
button:focus::before,
button:focus::after {
  transform: none;
  opacity: 1;
}

.navbar-brand::before,
.navbar-brand::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.navbar-brand::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}

.navbar-brand::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: hsla(var(--text-hover), 1);
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}

.navbar-brand:hover::before,
.navbar-brand:hover::after,
.navbar-brand:focus::before,
.navbar-brand:focus::after {
  transform: none;
  opacity: 1;
}

#ticketissue {
  padding: 30px;
}

#offcanvas-issue {
  margin-bottom: 20px;
}

#offcanvasUser {
  color: white;
}

#bidCanvas {
  color: rgb(0, 162, 255);
  background-color: rgba(0, 0, 0, 0.765);
}

.offcanvas-title {
  text-align: center;
}

#loginForms {
  padding: 12px;
}

#loginButtons {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: inherit;
  text-decoration: none;
  transition: .25s ease;
}

#chatCard {
  background-color: #000000;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

#chatCardBody {
  background-color: #0a0a0a;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 10px;
}

.card-body {
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#chatCardBody {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.messages {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: blue;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: blue;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: blue;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: rgb(0, 120, 254);
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: rgb(0, 120, 254);
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

@media (max-width: 770px) {
  #githubButtons {
    display: none;
  }
}